body {
    background-color: #f7f7f7;
    font-family: sans-serif
}

#cabecalho {
    max-width: 520px;
    margin: 0 auto;
}

#painel {
    max-width: 300px;
    margin: 0 auto;
    border: solid grey 5px;
    box-shadow: 0 0 15px 0px grey;
    padding: 0 10px 0 10px;
    background-color: #ffffff;
}

.painel-parte {
    margin-top: 10px
}

.controle {
    display: inline-block;
    width: 40%;
    margin: 10px;
}