body {
    background-color: #f7f7f7;
}

#cabecalho {
    max-width: 480px;
    margin: 0 auto;
}

#painel {
    max-width: 300px;
    margin: 0 auto;
    border: solid grey 5px;
    box-shadow: 0 0 15px 0px grey;
    padding: 0 10px 0 10px;
    background-color: #ffffff;
}